:global {
  .form-control {
    &.is_error {
      border-color: $error;
    }
  }

  .btn,
  .btn-lg {
    &.is_error{
      border-color: $error;
      background-color: $error;

      &:hover {
        background-color: $error;
      }
    }
  }

  .article-content {
    .description {
      font-weight: bold;
      border-bottom: 1px solid #000;
    }

    .article-detail-description{
      font-size: 0.9rem !important;
      color: #777;
    }
  }
}
